version: "3.8"

services:
  mongo:
    image: mongo
    container_name: mongo-anti-social
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongo-data:/data/db

  cliente:
    image: mongo-express
    container_name: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_USER}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_PASSWORD}
      ME_CONFIG_MONGODB_URL: ${MONGO_URI_CLIENTE}
      ME_CONFIG_BASICAUTH: false
    depends_on:
      - mongo

  app:
    image: app:${APP_VERSION}
    build: .
    ports:
      - "3000:3000"
    environment:
      PORT: ${PORT}
      MONGO_USER: ${MONGO_USER}
      MONGO_PASSWORD: ${MONGO_PASSWORD}
      MONGO_URL: ${MONGO_URI}
    depends_on:
      - mongo

volumes:
  mongo-data:

